.modal {
  position: absolute;
  z-index: 10;
}
.modalrelative {
  position: relative;
  top: 300px;
  left: 150px;
}
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.registerGameButton {
  position: absolute;
  right: 2rem;
  bottom: 10rem;
  width: 25%;
}

.modalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  width: max-content;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 80px 60px;
  border-radius: 2rem;
  max-width: 900px;
  min-width: 300px;
}

.closeModal {
  position: absolute;
  top: 10px;
  right: 10px;
  margin-right: 20px;
  margin-top: 10px;
}
