.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.formInput {
  width: 150px;
  height: 30px;
  padding: 20px 20px;
  border-radius: 5px;
  margin-right: 2rem;
}

.playerNumber {
  font-size: 1.2rem;
  line-height: 2.5;
  margin-right: 10px;
}

.buttons {
  margin: 10px auto;
}

.error {
  color: red;
  font-size: 1.2rem;
  line-height: 2.5;
  margin-left: auto;
  margin-top: -1rem;
}
